$black: #111111;
$red: #e30613;
$dark-red: #d40410;
$orange: #fe8d00;
$green: #22b573;
$dirty-blue: #00b8d0;
$dark-violet: #27203b;
$blue: #0071bc;
$white: #ffffff;
$flesh-coloured: #fff6c6;
$light-green: #a3e8c0;
$aqua-blue: #a4f8ff;
$dark-gray: #7e8191;
$light-blue: #51bffc;
