$black: #000000;
$light-gray: #ECECEC;

$red: #E30613;
$orange: #FE8D00;
$green: #22B573;
$dirty-blue: #00B8D0;
$dark-violet: #27203B;
$blue: #0071BC;
$white: #FFFFFF;
$flesh-coloured: #FFF6C6;
$light-green: #A3E8C0;
$aqua-blue: #A4F8FF;
$dark-gray: #7E8191;
$light-blue: #51BFFC;
