@font-face {
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/Manrope-Regular.woff2) format('woff2'),
    url(/assets/fonts/Manrope-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Manrope-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/Manrope-Medium.woff2) format('woff2'),
    url(/assets/fonts/Manrope-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Manrope-Bold';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/Manrope-Bold.woff2) format('woff2'),
    url(/assets/fonts/Manrope-Bold.woff) format('woff');
}
