@mixin points($textColor, $bgColor, $countColor, $afterTextColor, $afterBgColor) {
  padding: 0 3.087rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $bgColor;
  border-radius: 16px;
  p {
    text-align: center;
    color: $textColor;
  }
  span {
    font-family: 'Manrope-Bold';
    font-size: 4.032rem;
    text-align: center;
    color: $countColor;
    position: relative;
  }
  span::after {
    content: 'б';
    width: 1.764rem;
    height: 1.764rem;
    font-family: 'Manrope-Bold';
    font-size: 1rem;
    color: $afterTextColor;
    position: absolute;
    top: 0;
    right: -1.5rem;
    background-color: $afterBgColor;
    border: 2px solid $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
