.about {
    overflow: hidden;
  &__container {
    padding: 5.04rem 0 5.035rem 0;
  }
  &__title {
    padding-bottom: 1.512rem;
    width: 85%;
  }
  &__description {
    width: 75%;
    padding-bottom: 6.3rem;
  }
  &__secont-title {
    font-size: 4.536rem;
  }
  &__project {
    display: flex;
    align-items: center;
    padding-bottom: 18.522rem;
    position: relative;
  &-line {
    background-image: url('/assets/images/about/line_first.svg');
    background-repeat: no-repeat;
    width: 120%;
    height: 650px;
    left: -7.5rem;
    position: absolute;
  }
}

  &__project-list {
    font-size: 1.26rem;
    li {
      padding-bottom: 0.756rem;
    }
  }
  &__second-title {
    width: 72.58333%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3.78rem;
  }



  &__picture-container {
    display: flex;
    column-gap: 2.5%;
  }
  &__picture-block {
    position: relative;
    p {
      font-size: 1.26rem;
      position: absolute;
      bottom: 2.016rem;
      left: 2.016rem;
    }
  }
  &__picture {
    width: 23.814rem;
    height: 27.032rem;
    border-radius: 16px;
  }
}
