.about {
  overflow: hidden;
  &__container {
    padding: 5.04rem 0 5.544rem 0;
  }
  &__title {
    padding-bottom: 1.512rem;
    width: 85%;
  }
  &__description {
    width: 75%;
    padding-bottom: 6.3rem;
  }
  &__project-title {
    font-size: 4.536rem;
    font-family: 'Manrope-ExtraBold';
    text-transform: uppercase;
  }
  &__project {
    display: flex;
    align-items: center;
    padding-bottom: 18.522rem;
    position: relative;
    &-line {
      top: -3rem;
      background-image: url(/assets/images/about/line_first.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      width: 120%;
      height: 42rem;
      left: -7.5rem;
      position: absolute;
    }
  }
  &__project-list {
    font-size: 1.26rem;
    font-family: 'Manrope-Medium';
    li {
      padding-bottom: 0.756rem;
    }
  }
  &__second-title {
    width: 72.58333%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3.78rem;
  }
  &__picture-container {
    display: flex;
    column-gap: 2.5%;
    width: 134%;
  }
  &__picture-block {
    position: relative;
    p {
      font-size: 1.26rem;
      font-family: 'Manrope-ExtraLight';
      position: absolute;
      text-align: start;
      bottom: 2.016rem;
      left: 2.016rem;
    }
  }
  &__picture {
    width: 23.814rem;
    height: 27.032rem;
    border-radius: 16px;
  }
}
