.about {
    overflow: hidden;
  &__container {
    padding: 5.04rem 0 5.035rem 0;
  }
  &__title {
    padding-bottom: 1.512rem;
    width: 75%;
  }
  &__description {
    width: 57%;
    padding-bottom: 30px;
  }
  &__cards {
    display: flex;
    gap: 1.89rem;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5.04rem;
  }
  &__card {
    width: 31.5%;
    height: 9.576rem;
    background: $white;
    border-radius: 6px;
    padding-left: 2%;
    display: flex;
    align-items: center;
    position: relative;

    p {
      width: 73.312%;
      color: $dark-violet;
      font-size: 1.1134rem;
    }
    span {
      position: absolute;
      color: $white;
      top: 0.504rem;
      right: 0.504rem;
      font-size: 1.134rem;
      z-index: 1;
    }
  }
  &__card::after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    border-left: 4.536rem solid transparent;
    border-right: 0px solid transparent;
    border-top: 4.536rem solid $dark-red;
    border-radius: 0 5px 0 0;
  }
  &__second-title {
    width: 72.583%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3.78rem;
  }
  &__picture-container {
    display: flex;
    column-gap: 2.5%;
    width: 135%;
  }
  &__picture-block {
    position: relative;
    p {
      font-size: 1.26rem;
      position: absolute;
      bottom: 2.016rem;
      left: 2.016rem;
    }
  }
  &__picture {
    width: 23.814rem;
    height: 27.032rem;
    border-radius: 16px;
  }
}
