.forum {
  &__container {
  }
  &__title {
    padding-bottom: 70px;
  }
  &__description-block {
    display: flex;
    column-gap: 50px;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 40px;
  }
  &__subtitle {
    font-size: 24px;
    line-height: 29px;
  }
  &__description {
    font-size: 20px;
    line-height: 24px;
  }
  &__image-block {
    position: relative;
    padding-bottom: 130px;
  }
  &__image {
   // width: 1920px;
    height: 300px;
    background: #ECECEC;
    position: absolute;
    z-index: -1;
  }
  &__image-description-container {
    padding-top: 245px;
    display: flex;
    column-gap: 364px;
  }
  &__image-link {
    font-size: 20px;
    line-height: 24px;
  }
  &__image-description {
    font-size: 14px;
    line-height: 17px;
  }
}
