.go-test {
  &__container {
    height: 400px;
    background: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button {
    width: 242px;
    height: 75px;
    background: #d9d9d9;
    opacity: 0.3;
    border: none;
    font-size: 20px;
    line-height: 24px;
  }
}
