.header {
  background-color: #ececec;
  background-size: cover;
  position: relative;
  height: 55.556vw;
  z-index: -2;
  &__background--image1 {
    background-image: url(/assets/images/header/slide1.jpg);
  }
  &__background--image2 {
    background-image: url(/assets/images/header/slide2.jpg);
  }
  &__background--image3 {
    background-image: url(/assets/images/header/slide3.jpg);
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 6.426rem;
    padding: 1.386rem 2.52rem 0 2.52rem;
  }
  &__nav-logo {
    width: 17%;
  }
  &__nav-list {
    width: 75%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1.701rem;
  }
  &__nav-list-item {
    list-style: none;
    text-align: center;
    a {
      font-size: 1rem;
      font-family: 'Manrope-SemiBold';
      color: $white;
      text-decoration: none;
    }
  }
  &__nav-list-item:last-child {
    flex-grow: 1;
    text-align: end;
    position: relative;
  }
  &__nav-list-item:last-child::before {
    content: '';
    width: 2.016rem;
    height: 2.016rem;
    background: #818889;
    border: 1px solid $white;
    border-radius: 50%;
    position: absolute;
    left: 0;
    margin-left: 1.6em;
    top: -0.35rem;
    background-image: url('/assets/images/header/user.svg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
  }
  &__content {
    position: absolute;
    top: 38.26vw;
  }
  &__title {
    font-family: 'Manrope-Bold';
    font-size: 4.75rem;
    padding-bottom: 0.75rem;
  }
  &__description {
    font-size: 1.5rem;
  }
  &__image-heart {
    width: 34.9315%;
    position: absolute;
    right: 0;
    bottom: -13rem;
    z-index: -1;
  }
}
