.perfomance {
  background-color: $dirty-blue;
  z-index: -2;
  position: relative;
  height: 65rem;
  border-radius: 64% 44% 72% 34%/21% 14% 23% 14%;
  &__line {
    z-index: -1;
    position: absolute;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6.426rem 0 3.78rem 0;
  }
  &__header::before {
    content: "";
    width: 10rem;
    height: 8rem;
    position: absolute;
    background-color: $dirty-blue;
    left: -1rem;
    z-index: -4;
    border-radius: 34% 0 0 0;
  }
  &__title {
    width: 68%;
  }
  &__button {
    padding: 1rem 1.9215rem;
    background: $dirty-blue;
    border: 2px solid #ffffff;
    border-radius: 16px;
    color: $white;
  }
  &__blocks {
    display: grid;
    grid-template-columns: 17.388rem 17.388rem 36.666rem;
    grid-template-rows: 12.6rem 11.34rem 11.34rem;
    gap: 1.89rem;
  }
  &__points-block {
    @include points(#0e0e0e, $white, $red, $white, $red);
  }
  &__block {
    background-color: $white;
    color: #0e0e0e;
    border-radius: 16px;
    font-size: 1.26rem;
    padding: 1.512rem 4.536rem 0 1.512rem;
    span {
      font-family: 'Manrope-Bold';
      color: $dirty-blue;
    }
    &--half-width {
      grid-column: 1 / 3;
    }
    &--with-line {
      position: relative;
      img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }
    &--picture {
      grid-row: 2/4;
      grid-column: 3/4;
      background-image: url('/assets/images/perfomance/show.jpg');
      background-position: center;
      background-size: contain;
    }
    &--test {
      background-color: $red;
      color: $white;
      display: flex;
      font-size: 1.134rem;
      align-items: center;
      justify-content: center;
      padding: 1.764rem;
      text-align: center;
    }
  }
}
