.shedule {
  background-color: $dirty-blue;
  height: 45.171vw;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    padding-top: 75px;
    padding-bottom: 40px;
    font-size: 24px;
    line-height: 110%;
  }
  &__description {
    font-size: 20px;
    line-height: 140%;
    width: 57%;
    text-align: center;
  }
  &__points {
    padding-top: 64px;
    padding-bottom: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__point {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__point-count {
    font-size: 90px;
    line-height: 109px;
    span {
      font-size: 14px;
      line-height: 17px;
      position: absolute;
    }
  }
  &__point-description {
    width: 70%;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }
  &__shedule {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.512rem;
    padding-bottom: 2.52rem;
  }
    &__shedule-button {
      color: $white;
      font-size: 1rem;
      height: 2.898rem;
      min-width: 8.1666%;
      border: 1px solid #ffffff;
      border-radius: 30px;
      background-color: transparent;
      cursor: pointer;
    }
    &__shedule-button--active {
      background-color: $white;
      color: $dirty-blue;
    }
}
