.slider {
  &__container {
    padding-bottom: 540px;
    position: relative;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 169px;
    padding-bottom: 50px;
  }
  &__title {
    width: 63.75%;
    font-size: 24px;
    line-height: 29px;
  }
  &__buttons {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    :first-child {
      transform: rotate(180deg);
    }
  }
  &__button {
    width: 50px;
    height: 50px;
    background: $light-gray;
    border: none;
    font-size: 41.6667px;
    line-height: 50px;
    padding: 0;
  }
  &__slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 45px;
    overflow: hidden;
    position: absolute;
    overflow: hidden;
    width: 1200px;
  }
  &__slide-element {
    position: relative;
  }
  &__slide-element-image {
    width: 370px;
    height: 390px;
    background: $light-gray;
  }
  &__slide-element-description {
    position: absolute;
    left: 30px;
    top: 320px;
    font-size: 18px;
    line-height: 22px;
  }
}
