.test {
  background-size: cover;
  position: relative;
  height: 55.556vw;
  background-image: url(/assets/images/test/background.jpg);
  &__button {
    background-color: $dirty-blue;
    width: 276px;
    height: 54px;
    border-radius: 16px;
    border: none;
    font-family: 'Manrope-Bold';
    color: $white;
    margin-top: 2.52rem;
  }
  &__content {
    width: 51%;
    padding-top: 27.216rem;
  }
  &__content-title {
    padding-bottom: 1.512rem;
  }
  &__content-description {
    padding-bottom: 0.756rem;
  }
}
