.vebinars {
  &__background {
    width: 1920px;
    background: #ececec;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    padding-top: 75px;
    padding-bottom: 40px;
    font-size: 24px;
    line-height: 110%;
  }
  &__description {
    font-size: 20px;
    line-height: 140%;
    width: 57%;
    text-align: center;
  }
  &__points {
    padding-top: 64px;
    padding-bottom: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__point {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__point-count {
    font-size: 90px;
    line-height: 109px;
    span {
      font-size: 14px;
      line-height: 17px;
      position: absolute;
    }
  }
  &__point-description {
    width: 70%;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }
  &__shedule {
    width: 1920px;
    height: 40px;
    background: rgba(236, 236, 236, 0.54);
    margin-bottom: 150px;
  }
  &__shedule-dates {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    span {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
